[submodule "vagrant/puppet/modules/module-data"]
	path = vagrant/puppet/modules/module-data
	url = https://github.com/ripienaar/puppet-module-data/
[submodule "vagrant/puppet/modules/stdlib"]
	path = vagrant/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "vagrant/puppet/modules/yum"]
	path = vagrant/puppet/modules/yum
	url = https://github.com/purpleidea/puppet-yum
[submodule "vagrant/puppet/modules/puppet"]
	path = vagrant/puppet/modules/puppet
	url = https://github.com/purpleidea/puppet-puppet
[submodule "vagrant/p4h"]
	path = vagrant/p4h
	url = https://github.com/purpleidea/p4h
